*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #323335;
  --white: #ffffff;
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1110px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100vh;
  transition: 0.2s ease-in;
  background: #29a098;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 55%;
  }

  @media only screen and (max-width: 320px) {
    font-size: 40%;
  }

  button {
    outline: none;
  }

  .mb-2 {
    margin-bottom: 0.4em;
  }
}
